 /*
	Created an app.scss only contains styles applied to the body and imports everything else. 
	For future styling please use import.

	For Example, if you wanted to apply styles to the footer,
	 create a file called _footer.scss and put your styles in it. 
	 Then below type @import "footer". 

 */

 @import "foundation.min";  // foundation 5
 @import "normalize";
 @import "constant";
 @import "header";
 @import "home-nav";
 @import "footer";

body{
	background: {
		image:url('http://i.cubeupload.com/uP5cjy.jpg');
		repeat:repeat;
	}
}

.container .row {  // used http://cssround.com/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:$secondary-color;

}

