 @import "foundation.min";  // foundation 5
 @import "normalize";
 @import "constant";
 @import "header";
 @import "home-nav";
 @import "footer";

body{
	background: {
		image:url('http://i.cubeupload.com/uP5cjy.jpg');
		repeat:repeat;
	}
}

.container .row {  // used http://cssround.com/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:$secondary-color;

}

