@import "foundation.min";
@import "constant";
@import "footer";
@import "home-nav";
@import "header";

body{
	background: {
		image:url('http://i.cubeupload.com/uP5cjy.jpg');
		repeat:repeat;
	}
}

.container .row {  // used http://cssround.com/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background:rgba(227,162,11,0.3);

}

